<!DOCTYPE html>
<html>
<head>
    <% include ../partials/header.ejs %>
</head>

<body>

<% include ../partials/nav.ejs %>

<div class="jumbotron text-center">
    <div class="container">
        <a href="/" class="lang-logo">
            <img src="/lang-logo.png">
        </a>
        <h1>BE 223a NLP Project</h1>
        <p>An NLP web application deployed on Heroku</p>
        <a type="button" class="btn btn-lg btn-default" href="/trail"></span>Trial Lists</a>
        <a type="button" class="btn btn-lg btn-default" href="/meta_map"></span>Meta Map Graph</a>
        <a type="button" class="btn btn-lg btn-default" href="/chart1"></span>MSA Type Charts</a>        
        <a type="button" class="btn btn-lg btn-default" href="/msa_charts"></span>MSA Profiles</a></p>
        <a type="button" class="btn btn-lg btn-info" href="https://github.com/YuhuaBillChen/BE223A_F16"><span
                    class="glyphicon glyphicon-download"></span> Source on GitHub</a>
    </div>
</div>
<div class="container">
    <div class="alert alert-info text-center" role="alert">
        Our web application is under construction, stay tuned to get the latest news from this amazing project!
    </div>
    <hr>
    <div class="row">
    </div> <!-- row -->

</div>


</body>
</html>
