<!DOCTYPE html>
<html>
<head>	
    <% include ../partials/header.ejs %>     
</head>

<body>

<% include ../partials/nav.ejs %>
	<iframe frameborder = '0' src="plot10.html" onload="this.width=screen.width;this.height=screen.height;"></iframe>
</body>
</html>
