<nav class="navbar navbar-default navbar-static-top navbar-inverse">
  <div class="container">
    <ul class="nav navbar-nav">
      <li >
        <a href="/"><span class="glyphicon glyphicon-home"></span> Home</a>
      </li>
      <li>
        <span class="glyphicons glyphicons-show-thumbnails-with-lines"></span><a href="/trail"> Trial Lists</a>
      </li>
      <li class="dropdown">
        <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false"><span class="glyphicon glyphicon-stats"></span> MetaMap <span class="caret"></span></a>
          <ul class="dropdown-menu" role="menu">
            <li><span class="glyphicon glyphicon-charts"></span><a href="/meta_map">Semantic</a></li>
            <li><span class="glyphicon glyphicon-charts"></span><a href="/meta_map/w/2/n/20">Term Hits</a></li>
          </ul>
      </li>      
      <li class="dropdown">
        <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false"><span class="glyphicon glyphicon-stats"></span> MSA_Charts <span class="caret"></span></a>
          <ul class="dropdown-menu" role="menu">
            <li><span class="glyphicon glyphicon-charts"></span><a href="/msa_charts/w/3/n/20">Age Restriction</a></li>
            <li><span class="glyphicon glyphicon-charts"></span><a href="/msa_charts/w/4/n/20">Annotation</a></li>
            <li><span class="glyphicon glyphicon-charts"></span><a href="/msa_charts/w/5/n/20">Current Restriction</a></li>
            <li><span class="glyphicon glyphicon-charts"></span><a href="/msa_charts/w/6/n/20">Health Condition Restriction</a></li>
            <li><span class="glyphicon glyphicon-charts"></span><a href="/msa_charts/w/7/n/20">MaleFemale Restriction</a></li>
            <li><span class="glyphicon glyphicon-charts"></span><a href="/msa_charts/w/8/n/20">PriorRestriction</a></li>
            <li><span class="glyphicon glyphicon-charts"></span><a href="/msa_charts/w/9/n/20">Time Restriction</a></li>  
          </ul>
      </li>
    </ul>
    <ul class="nav navbar-nav navbar-right">
      <li class="navbar-right">
        <a href="/"><span class="glyphicon glyphicon-book">  Contacts</span> </a>
      </li>
    </ul>
  </div>
</nav>
